.quiz-card {
	position: relative;
	padding: 4rem 2rem 2rem 2rem;
}
.quiz-card img {
	position: absolute;
	top: -4.5rem;
	right: 0;
}
.quiz-card h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #2f527b;
}
/* .quiz-card div {
	display: flex;
	align-items: center;
	border: 2px solid #6066d0b2;
	margin-bottom: 1rem;
	border-radius: 0.75rem;
	padding: 0.5rem;
	color: #6066d0cc;
	transition: all 300ms ease-out;
}

.quiz-card div:hover {
	border-color: white;
	color: white;
	background-color: #f9a826;
	cursor: pointer;
}
.quiz-card div span {
	margin-right: 3rem;
	font-size: 1.5rem;
	height: 100%;
}
.quiz-card div p {
	font-size: 1.125rem;
} */
.quiz-card button {
	margin-left: 70%;
	font-size: 1.125rem;
	font-weight: bold;
	padding: 1rem 2rem;
	color: white;
	background-color: #f9a826;
	border-radius: 0.75rem;
	border: none;
	font-family: inherit;
	transition: background-color 300ms ease-out;
}

.quiz-card button:hover {
	cursor: pointer;
	background-color: rgba(249, 168, 38, 0.7);
}

/* .quiz-card .correct-answer {
	color: white;
	background-color: #60bf88;
	border: 2px solid white;
} */
